* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f2eb;
    height: 100vh;
}

nav {
    position: relative;
    border-bottom: 1px solid #26272b;
    height: 80px;
    background: #f5f2eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px 0 150px;
}

nav .logo {
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav .logo a {
    color: #26272b;
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 5px;
}

nav ul li button {
    background: #f5f2eb;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #26272b;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #26272b;
    /* transition: 1s; */
}

nav ul li button:hover,
nav ul li a:active {
    font-weight: bold;
    /* color: #ffc619; */
    border-bottom: 3px solid #ffc619;
}

nav ul li a:hover,
nav ul li a.active {
    font-weight: bold;
    color: #26272b;
    border-bottom: 3px solid #ffc619;
}

nav .menu-btn {
    font-size: 20px;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

@media (max-width:940px) {
    nav {
        padding: 0 50px 0 20px;
    }
    nav ul {
        position: fixed;
        top: 80px;
        z-index: 99;
        left: -100%;
        background: #f5f2eb;
        height: 100vh;
        width: 50%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        margin: 20px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li button {
        font-size: 20px;
    }
    nav .menu-btn {
        display: block;
    }
    #click:checked~.menu-btn i::before {
        content: "\f00d";
    }
}


/* NAVIGATION BAR  */


/* FOOTER */

.footer {
    position: relative;
    bottom: 0;
    /* min-height: 100%; */
    /* margin-bottom: -100px; */
    width: 100%;
    background: #26272b;
}

section a {
    text-decoration: none;
    color: #737373;
}

section a:hover {
    font-weight: bold;
    color: #ffc619;
}

section p {
    color: #737373;
}

section h5 {
    color: #f5f2eb;
}